<div class="card">
  <div class="card-header font-weight-bold">
    <span>{{controller.value.name}}</span>
    <a class="float-right" href="#" (click)="showInfo=!showInfo">{{showInfo ? "Less" : "More"}}</a>
  </div>
  <div class="card-body">
    <div class="row text-center">
      <!-- <div class="col">{{controller.value._started | booleanSub : "Started:Stopped"}}</div> -->
      <div class="col">{{controller.value.manual_control | booleanSub : "Manual:Auto"}}</div>
      <div class="col">{{controller.value._controller_on | booleanSub : "On:Off"}}</div>
      <div class="col">[{{controller.value.relay_pin}}]</div>
    </div>
    <div class="row">
      <div class="col">
        <ng-container *ngxComponentOutlet="
            controller.component;
            context: { info: controller.value.info }">
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <pre *ngIf="showInfo">{{controller.value.info | json}}</pre>
      </div>
    </div>
  </div>
</div>
